@import "tailwindcss";

:root {

    --Background: #fffeff;
    --PrimaryColor: #2A9D8F;
    --SecondaryColor: #FF6B6B;
    --AccentColor: #8D8D8D;
    --Text: #2C2C2C;
    --navy: #000080;
}

body {
    background: var(--Background);
    color: var(--Text);
    font-family: "montserrat", "inter";
}


.animate-diamond {
    animation: diamond 8s ease-in-out infinite;
}

@keyframes diamond {

    0%,
    100% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(45deg);
    }


}



